# Prepare

In [1]:
# # We don't need to install nltk, it should come with anaconda, but nltk
# # does need to download some data.
# !python -c "import nltk; nltk.download('stopwords')"

In [2]:
# import nltk
# nltk.download('all')

In [1]:
import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

import pandas as pd
import numpy as np
import acquire

In [8]:
article = acquire.get_news_articles()
article.head()

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

,title,content,category
0,Antfin transfers 10.3% stake to Paytm chief Vi...,Antfin (Netherlands) Holding BV has transferre...,business
1,"Nepal asks India for rice, sugar to avert poss...",Nepal government has requested India to facili...,business
2,GQG Partners buys 8.1% stake in Adani Power fo...,Investment firm GQG Partners bought an 8.1% st...,business
3,"USDA cuts rice trade forecast for 2023, 2024 p...",US Department of Agriculture (USDA) lowered th...,business
4,Hyundai to buy General Motors' Talegaon plant ...,Hyundai Motor India signed an asset purchase a...,business

**Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:**

- Lowercase everything
- Normalize unicode characters
- Replace anything that is not a letter, number, whitespace or a single quote.

In [9]:
def basic_clean(string_:list):
    clean_df = []
    for ele in string_.values:
        # Lowercase everything in the first row
        lower_str= ele.lower()
        # Normalize unicode characters
        norm_string = unicodedata.normalize("NFKD", lower_str).encode('ascii', "ignore").decode('utf-8', 'ignore')
        # Replace anything that is not a letter, number, whitespace or a single quote.
        clean_df.append(re.sub(r"[^a-z0-9'\s]", "", norm_string))
    return clean_df

In [10]:
normalized_str = basic_clean(article.content)

**Define a function named tokenize. It should take in a string and tokenize all the words in the string.**

In [11]:
def tokenize(string_:list):
    tokenized_lst = []
    tokenizer = nltk.tokenize.ToktokTokenizer()
    for ele in string_:
        tokenized_lst.append(tokenizer.tokenize(ele, return_str=True))
    return tokenized_lst

In [12]:
tokenized_str = tokenize(normalized_str)

**Define a function named stem. It should accept some text and return the text after applying stemming to all the words.**

In [13]:
def stem(string_:list):
    # Create the nltk stemmer object, then use it
    article_stemmed_lst = []
    ps = nltk.porter.PorterStemmer()
    for parag in string_:
        stems = [ps.stem(ele) for ele in parag.split()]
        article_stemmed = " ".join(stems)
        article_stemmed_lst.append(article_stemmed)
    
    return article_stemmed_lst

In [14]:
stemmed_str = stem(tokenized_str)

**Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.**

In [15]:
def lemmatize(string_:list):
    # Create the nltk stemmer object, then use it
    article_lemmatize_lst = []
    wnl = nltk.stem.WordNetLemmatizer()
    for parag in string_:
        lemma = [wnl.lemmatize(ele) for ele in parag.split()]
        article_lemmatize = " ".join(lemma)
        article_lemmatize_lst.append(article_lemmatize)
    
    return article_lemmatize_lst

In [16]:
lemmatized_str = lemmatize(tokenized_str)

**Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.**

This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [17]:
def remove_stopwords(string_:list, extra_words="", exclude_words=None):
    article_without_stopwords = []
    # extra_words_lst = []
    for words in string_:
        stopword_list = stopwords.words('english') + extra_words
        exclude_words = [w for w in words.split() if w not in stopword_list]

        article_without_stopwords.append(' '.join(exclude_words))
    return article_without_stopwords

In [24]:
removed_sp_wds = remove_stopwords(lemmatized_str)

**Make another dataframe for the Codeup blog posts. Name the dataframe cod**

In [19]:
article = acquire.get_news_articles()
article.head()

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

,title,content,category
0,Antfin transfers 10.3% stake to Paytm chief Vi...,Antfin (Netherlands) Holding BV has transferre...,business
1,"Nepal asks India for rice, sugar to avert poss...",Nepal government has requested India to facili...,business
2,GQG Partners buys 8.1% stake in Adani Power fo...,Investment firm GQG Partners bought an 8.1% st...,business
3,"USDA cuts rice trade forecast for 2023, 2024 p...",US Department of Agriculture (USDA) lowered th...,business
4,Hyundai to buy General Motors' Talegaon plant ...,Hyundai Motor India signed an asset purchase a...,business

**For each dataframe, produce the following columns:**

- title to hold the title
- original to hold the original article/post content
- clean to hold the normalized and tokenized original with the stopwords removed.
- stemmed to hold the stemmed version of the cleaned data.
- lemmatized to hold the lemmatized version of the cleaned data.

In [25]:
article["clean_normalized"] = np.array(basic_clean(article.content))
article["stemmed"] = np.array(stem(tokenized_str))
article["lemmatized"] = np.array(lemmatize(tokenized_str))
article["with_out_stop_words"] = np.array(remove_stopwords(lemmatized_str))

In [27]:
article.head()

,title,content,category,clean_normalized,stemmed,lemmatized,with_out_stop_words
0,Antfin transfers 10.3% stake to Paytm chief Vi...,Antfin (Netherlands) Holding BV has transferre...,business,antfin netherlands holding bv has transferred ...,antfin netherland hold bv ha transfer it 103 s...,antfin netherlands holding bv ha transferred i...,antfin netherlands holding bv ha transferred 1...
1,"Nepal asks India for rice, sugar to avert poss...",Nepal government has requested India to facili...,business,nepal government has requested india to facili...,nepal govern ha request india to facilit the s...,nepal government ha requested india to facilit...,nepal government ha requested india facilitate...
2,GQG Partners buys 8.1% stake in Adani Power fo...,Investment firm GQG Partners bought an 8.1% st...,business,investment firm gqg partners bought an 81 stak...,invest firm gqg partner bought an 81 stake in ...,investment firm gqg partner bought an 81 stake...,investment firm gqg partner bought 81 stake ad...
3,"USDA cuts rice trade forecast for 2023, 2024 p...",US Department of Agriculture (USDA) lowered th...,business,us department of agriculture usda lowered the ...,us depart of agricultur usda lower the global ...,u department of agriculture usda lowered the g...,u department agriculture usda lowered global r...
4,Hyundai to buy General Motors' Talegaon plant ...,Hyundai Motor India signed an asset purchase a...,business,hyundai motor india signed an asset purchase a...,hyundai motor india sign an asset purchas agre...,hyundai motor india signed an asset purchase a...,hyundai motor india signed asset purchase agre...